

<div class="row" style="position: fixed; top: 0;width: 100%; height: 100%;" *ngIf="showCommemorations">
	<ng-lottie [options]="newYear" class="center-center" (complete)="showCommemorations=false" style="width: 100%;">
	</ng-lottie>
</div>

<!-- <div class="row" style="position: fixed; top: 0;width: 100%; height: 100%;" *ngIf="showCommemorations">
	<ng-lottie [options]="optionschristmasTree" class="center-center" (complete)="showCommemorations=false" style="width: 100%;">
	</ng-lottie>
</div>

<div class="optionsMerryChristmas" *ngIf="showCommemorations">
	<ng-lottie [options]="optionsMerryChristmas" class="center-center" (complete)="showCommemorations=false" style="width: 100%;">
	</ng-lottie>
</div>

<div class="optionsWinter" *ngIf="showCommemorations">
	<ng-lottie [options]="optionsWinter" class="center-center" (complete)="showCommemorations=false" style="width: 100%;">
	</ng-lottie>
</div> -->
