<div class="sellMore">
	<header>
		<div class="logo">
			<img src="/assets/img/system/logo_wiseup.svg" alt="" srcset="" />
		</div>
		<div class="search">Search</div>
		<div class="profile">
			<img
				src="https://instagram.fgyn16-1.fna.fbcdn.net/v/t51.2885-19/s150x150/118200339_130598715410057_5144472412328920923_n.jpg?_nc_ht=instagram.fgyn16-1.fna.fbcdn.net&_nc_ohc=se62JSn1DcoAX_h_-Zw&oh=cd243c550309755172938ffb1086e91e&oe=5FC6E74D"
				alt=""
			/>
		</div>
	</header>
	<div class="content pad40">
		<div class="row flex-direction-column">
			<div class="totalLead">78 referidos à contactar</div>
			<div class="totalOthers">3 vendas</div>
			<div class="totalOthers">7 problemas com cartão</div>
		</div>
		<div class="row flex-wrap">
			<div class="customers" *ngFor="let item of customers"></div>
		</div>
	</div>
	<footer>
		<!-- <div class="footerItens">+</div>
		<div class="footerItens">+</div> -->
		<div class="footerItens">+</div>
	</footer>
</div>
