<div class="sellMore" >
	<header>
		<div class="logo">
			<img src="/assets/img/system/sellmore.png" width="55px" />
			<!-- <img src="/assets/img/logo/logo.svg" alt="" srcset="" width="56px" /> -->
		</div>
		<div class="search">
			<form [formGroup]='searchForm'>
				<div class="input searchInput">
					<div class="inputIcon">
						<i class="fa fa-search"></i>
					</div>

					<div class="inputText">
						<input type="text" (keydown)="isSearch=true" class="w-100" placeholder="Buscar"
							formControlName="searchControl" />
					</div>
				</div>
			</form>
		</div>
		<button *ngIf="user?.id === 1" [routerLink]="[ '/access_log']" class="iconTheme mobileNo">
			LOG
		</button>
		<button (click)="setDarkMode()" class="iconTheme mobileNo">
			<ng-container *ngIf="themeIsDark; else elseTemplateDarkLight">
				<i class="far fa-moon"></i>
			</ng-container>
			<ng-template #elseTemplateDarkLight>
				<i class="fas fa-moon"></i>
			</ng-template>
		</button>

		<button class="btn-secondary mobileNo" style="margin-top: 0!important; padding: 10px 32px!important; margin-right: 5px;"
			data-toggle="modal" data-target="#modalBug">
			Reportar bug
		</button>
		<button class="btn-secondary mobileNo" style="margin-top: 0!important; padding: 10px 32px!important;" data-toggle="modal"
			data-target="#modalDonate">
			Doar
		</button>

		<div class="profile">
			<img class="cursor-pointer" src="/assets/img/user/user.png" alt="" width="55px"
				[matMenuTriggerFor]="profile">
		</div>

		<mat-menu #profile="matMenu">
			<button mat-menu-item>
				<i class="fas fa-id-card-alt"></i>
				{{user?.nome}}
			</button>
			<button mat-menu-item matTooltip="Mostrar/Ocultar referidos que não tem interesse" >
				<ng-container *ngIf="showNaotemInteresse == 'false'; else elseTemplateMenuNaoInteresse">
					<i class="fas fa-eye"></i>
					Mostrar referidos que não tem interesse
				</ng-container>
				<ng-template #elseTemplateMenuNaoInteresse>
					<i class="fas fa-eye-slash"></i>
					Ocultar referidos que não tem interesse
				</ng-template>

			</button>
			<button mat-menu-item (click)="logout()">
				<i class="fas fa-sign-out-alt"></i> Sair
			</button>
		</mat-menu>

	</header>
	<div class="content pad40" *ngIf="customersFilter.length || searchForm.value.searchControl.length">
		<div class="totalFilter">Filtro: {{searchForm.value.searchControl}} <span
				class="totalRegisterFilter">{{customersFilter.length}}</span></div>

		<div class="" *ngIf="!customersFilter.length && !isSearch">
			<div class="row center-center" style="flex-direction: column;">
				<ng-lottie [options]="options" class="lottieSearch"></ng-lottie>
				<h2>Nenhum resultado encontrado</h2>
			</div>
		</div>

		<div class="display-row">
			<div class="row customersFilter" *ngFor="let item of customersFilter">
				<div class="row">
					<div class="filterName">
						<div class="filterNameRow">
							{{ item.name }}
							<small class="filtercreated_at">{{item.bo_ativo | booleanMessage:'bo_ativo'}}</small>
						</div>
						<div class="row flex-wrap">
							<div class="filterPhone" *ngFor="let itemPhone of item.phones; let last = last">
								<small>+{{itemPhone?.country_code}}</small>{{ itemPhone.phone | helpers: "phoneByCountry" :itemPhone.country_code }}
								<span *ngIf="!last" class="mr-10">,</span>
							</div>
						</div>

					</div>
					<div class="menuFilter">
						<i class="fa fa-bars icon-finished cursor-pointer" style="margin-left: 15px" matTooltip="Menu"
							[matMenuTriggerFor]="menu"></i>
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="newChildren(item)" data-toggle="modal"
								data-target="#modalImportContact">
								<i class="fab fa-whatsapp"></i> Importar contatos
							</button>
							<!-- <button mat-menu-item>
								<a target="_BLANK" href="https://wa.me/55{{item.phone}}">
									<i class="fab fa-whatsapp"></i>
									Abrir no Whatsapp
								</a>
							</button> -->
							<button mat-menu-item (click)="updateOpenForm(item)" data-toggle="modal"
								data-target="#modalStickyAdd">
								<i class="fas fa-edit"></i> Alterar
							</button>
							<ng-container *ngIf="!item.bo_ativo; else elseTemplateActiveOrInative">
								<button mat-menu-item (click)="ativar(item)">
									<i class="fas fa-eye-slash"></i> Ativar
								</button>

							</ng-container>
							<ng-template #elseTemplateActiveOrInative>
								<button mat-menu-item (click)="inativar(item)">
									<i class="fas fa-eye-slash"></i> Arquivar
								</button>

							</ng-template>

							<button mat-menu-item (click)="newChildren(item)" data-toggle="modal"
								data-target="#modalStickyAdd">
								<i class="fa fa-chalkboard-teacher"></i>
								Tornar Lead
							</button>
							<button mat-menu-item (click)="callTo(item)" data-toggle="modal" data-target="#modalCall">
								<i class="fa fa-phone-volume"></i>
								Ligar
							</button>
						</mat-menu>
					</div>
				</div>

				<div class="filterstatus"> <strong>Status:</strong> {{item.status | helpers:'statusString' }}</div>

				<div class="filterbo_ativo"> <strong>Criado em:</strong> {{item.created_at  | date: 'fullDate'}}</div>

			</div>
		</div>
	</div>
	<div class="content pad40" *ngIf="!customersFilter.length && !searchForm.value.searchControl.length">
		<div class="row flex-direction-row flex-wrap" style="justify-content: space-between;">
			<div class="row flex-direction-column">
				<div class="totalLead">{{statistics?.a}} referidos à contactar</div>
				<div class="totalOthers">{{statistics?.c}} {{statistics?.c <= 1 ?   'venda': 'vendas'}}</div>
				<div class="totalOthers">{{statistics?.ld}} ligar depois</div>
				<div class="totalOthers">
					{{statistics?.pc}}
					{{statistics?.pc <= 1 ? 'problema com cartão' : 'problemas com cartão'}}
				</div>

			</div>
			<div class="row flex-direction-row flex-wrap center-center showEachStatus">
				<div class="">
					<label for="">Em aberto</label>
					<div class="onoffswitch">
						<input type="checkbox" (change)="setStatusLocalStorage()" [(ngModel)]="boShowAberto" class="onoffswitch-checkbox"
							id="boShowAberto" [ngModelOptions]="{standalone: true}">
						<label class="onoffswitch-label" for="boShowAberto"></label>
					</div>
				</div>
				<div class="">
					<label for="">Problemas com cartão</label>
					<div class="onoffswitch">
						<input type="checkbox" (change)="setStatusLocalStorage()" [(ngModel)]="boShowProblemasCartao" class="onoffswitch-checkbox"
							id="boShowProblemasCartao" [ngModelOptions]="{standalone: true}">
						<label class="onoffswitch-label" for="boShowProblemasCartao"></label>
					</div>
				</div>
				<div class="">
					<label for="">Ligar depois</label>
					<div class="onoffswitch">
						<input type="checkbox" (change)="setStatusLocalStorage()" [(ngModel)]="boShowLigarDepois" class="onoffswitch-checkbox"
							id="boShowLigarDepois" [ngModelOptions]="{standalone: true}">
						<label class="onoffswitch-label" for="boShowLigarDepois"></label>
					</div>
				</div>
				<div class="">
					<label for="">Não tem interesse</label>
					<div class="onoffswitch">
						<input type="checkbox" (change)="setStatusLocalStorage()" [(ngModel)]="boShowNaotemInteresse" class="onoffswitch-checkbox"
							id="idBoShowNaotemInteresse" [ngModelOptions]="{standalone: true}">
						<label class="onoffswitch-label" for="idBoShowNaotemInteresse"></label>
					</div>
				</div>
				<div class="">
					<label for="">Comprou</label>
					<div class="onoffswitch">
						<input type="checkbox" (change)="setStatusLocalStorage()" [(ngModel)]="boShowComprou" class="onoffswitch-checkbox"
							id="boShowComprou" [ngModelOptions]="{standalone: true}">
						<label class="onoffswitch-label" for="boShowComprou"></label>
					</div>
				</div>


			</div>

		</div>

		<div class="row flex-wrap" id="customersBody"
			*ngIf="boShowProblemasCartao || boShowLigarDepois || boShowNaotemInteresse || boShowComprou || boShowAberto"
		>
		<!-- <pre>{{ customersDynamic | json }}</pre> -->
			<div class="customers" *ngFor="let itemLead of customers | keyvalue; let even = even">
			<!-- <div class="customers" *ngFor="let itemLead of customersDynamic | keyvalue; let even = even"> -->
				<div class="parent center-center">
					<div class="contact">
						<div class="name">{{ itemLead?.value.name }} </div>

						<div class="row flex-wrap">
							<div class="contacto-phone"
								*ngFor="let itemPhone of itemLead.value.phones; let last = last">
								<small>+{{itemPhone?.country_code}}</small>{{ itemPhone.phone | helpers: "phoneByCountry" :itemPhone.country_code }}
								<span *ngIf="!last" class="mr-10">,</span>
							</div>
						</div>

					</div>
					<div class="action">
						<ng-container *ngIf="itemLead?.value.status != 'a'; else waiting">
							<div class="finished">
								<i *ngIf="itemLead.value.status == 'pc'"
									class="fa fa-credit-card icon-finished icon-finished-no">
								</i>
								<i *ngIf="itemLead.value.status == 'ld'" class="fa fa-headset icon-finished">
								</i>
								<i *ngIf="itemLead.value.status == 'n'"
									class="fa fa-thumbs-down icon-finished icon-finished-no">
								</i>
								<i *ngIf="itemLead.value.status == 'c'"
									class="fa fa-thumbs-up icon-finished icon-finished-yes">
								</i>
								<i class="fa fa-bars icon-finished cursor-pointer" matTooltip="Menu"
									[matMenuTriggerFor]="menu"></i>
								<mat-menu #menu="matMenu">
									<button mat-menu-item (click)="newChildren(itemLead?.value)" data-toggle="modal"
										data-target="#modalImportContact">
										<i class="fab fa-whatsapp"></i> Importar contatos
									</button>
									<!-- <button mat-menu-item>
										<a target="_BLANK" href="https://wa.me/55{{itemLead?.value.phone}}">
											<i class="fab fa-whatsapp"></i>
											Abrir no Whatsapp
										</a>
									</button> -->
									<button mat-menu-item (click)="updateOpenForm(itemLead.value)" data-toggle="modal"
										data-target="#modalStickyAdd">
										<i class="fas fa-edit"></i> Alterar
									</button>
									<button mat-menu-item (click)="inativar(itemLead.value)">
										<i class="fas fa-eye-slash"></i> Arquivar
									</button>

								</mat-menu>
							</div>
						</ng-container>
						<ng-template #waiting>
							<div class="waiting">
								<i (click)="changeStatus(itemLead.value, 'pc')" class="fa fa-credit-card icon-waiting"
									matTooltip="Problemas com cartão de crédito">
								</i>
								<i (click)="changeStatus(itemLead.value, 'ld')" class="fa fa-headset icon-waiting"
									matTooltip="Ligar depois"></i>
								<i (click)="changeStatus(itemLead.value, 'n')" class="fa fa-thumbs-down icon-waiting"
									matTooltip="Não deu negócio 😭"></i>
								<i (click)="changeStatus(itemLead.value, 'c')" class="fa fa-thumbs-up icon-waiting"
									matTooltip="Vendido 😃"></i>
								<i class="fa fa-bars icon-waiting cursor-pointer" matTooltip="Menu"
									[matMenuTriggerFor]="menu"></i>
								<mat-menu #menu="matMenu">
									<button mat-menu-item (click)="newChildren(itemLead.value)" data-toggle="modal"
										data-target="#modalImportContact">
										<i class="fab fa-whatsapp"></i> Importar contatos
									</button>
									<!-- <button mat-menu-item>
										<a target="_BLANK" href="https://wa.me/55{{itemLead?.value.phone}}">
											<i class="fab fa-whatsapp"></i>
											Abrir no Whatsapp
										</a>
									</button> -->
									<button mat-menu-item (click)="updateOpenForm(itemLead.value)" data-toggle="modal"
										data-target="#modalStickyAdd">
										<i class="fas fa-edit"></i> Alterar
									</button>
									<button mat-menu-item (click)="inativar(itemLead.value)">
										<i class="fas fa-eye-slash"></i> Arquivar
									</button>
								</mat-menu>
							</div>
						</ng-template>
					</div>
				</div>
				<perfect-scrollbar>
					<div class="children">

						<div class="item" *ngFor=" let item of itemLead.value.referidos ">



							<div class="contacto cursor-pointer" (click)="callTo(item)" data-toggle="modal"
								data-target="#modalCall">
								<span>
									<div class="contacto-name">
										{{ item.name }} <i *ngIf="item.status != 'a' && item.bo_preference" class="fa fa-star"></i>
									</div>
									<div class="row flex-wrap">
										<div class="contacto-phone"
											*ngFor="let itemPhone of item.phones; let last = last">
											<small>+{{itemPhone?.country_code}}</small> {{ itemPhone.phone | helpers: "phoneByCountry" :itemPhone.country_code }}
											<!-- <small>+{{itemPhone?.country_code}}</small>{{ itemPhone.phone | mask: "(00)00000-0000" }} -->
											<span *ngIf="!last" class="mr-10">,</span>
										</div>
									</div>
								</span>
							</div>

							<ng-container *ngIf=" item.status != 'a'; else waitingChildren ">
								<div class="finished">

									<!-- <i class="icon-waiting" ngIf="item.bo_preference"
										[ngClass]="item.bo_preference ? 'fa fa-star' : 'far fa-star'"
										(click)="preference(item)" matTooltip="Dar preferencia">
									</i> -->

									<i *ngIf="item.status == 'pc'"
										class="fa fa-credit-card icon-finished icon-finished-no">
									</i>
									<i *ngIf="item.status == 'ld'" class="fa fa-headset icon-finished icon-finished-no">
									</i>
									<i *ngIf="item.status == 'n'"
										class="fa fa-thumbs-down icon-finished icon-finished-no">
									</i>
									<i *ngIf="item.status == 'c'"
										class="fa fa-thumbs-up icon-finished icon-finished-yes">
									</i>
									<i class="fa fa-bars icon-finished" style="margin-left: 15px" matTooltip="Menu"
										[matMenuTriggerFor]="menu"></i>
									<mat-menu #menu="matMenu">
										<button mat-menu-item (click)="newChildren(item)" data-toggle="modal"
											data-target="#modalImportContact">
											<i class="fab fa-whatsapp"></i> Importar contatos
										</button>
										<!-- <button mat-menu-item>
											<a target="_BLANK" href="https://wa.me/{{item?.}}{{item?.phone}}">
												<i class="fab fa-whatsapp"></i>
												Abrir no Whatsapp
											</a>
										</button> -->
										<button mat-menu-item (click)="updateOpenForm(item)" data-toggle="modal"
											data-target="#modalStickyAdd">
											<i class="fas fa-edit"></i> Alterar
										</button>
										<button mat-menu-item (click)="inativar(item)">
											<i class="fas fa-eye-slash"></i> Arquivar
										</button>
										<button mat-menu-item (click)="newChildren(item)" data-toggle="modal"
											data-target="#modalStickyAdd">
											<i class="fa fa-chalkboard-teacher"></i>
											Tornar Lead
										</button>
									</mat-menu>
								</div>
							</ng-container>
							<ng-template #waitingChildren>
								<div class="waiting">
									<i class="icon-waiting"
										[ngClass]="item.bo_preference ? 'fa fa-star' : 'far fa-star'"
										(click)="preference(item)" matTooltip="Dar preferencia">
									</i>

									<i (click)="changeStatus(item, 'pc')" class="fa fa-credit-card icon-waiting"
										matTooltip="Problemas com cartão de crédito">
									</i>
									<i (click)="changeStatus(item, 'ld')" class="fa fa-headset icon-waiting"
										matTooltip="Ligar depois"></i>
									<i (click)="changeStatus(item, 'n')" class="fa fa-thumbs-down icon-waiting"
										matTooltip="Não deu negócio 😭"></i>
									<i (click)="changeStatus(item, 'c')" class="fa fa-thumbs-up icon-waiting"
										matTooltip="Vendido 😃"></i>
									<i class="fa fa-bars icon-waiting" matTooltip="Menu" [matMenuTriggerFor]="menu"></i>
									<mat-menu #menu="matMenu">
										<button mat-menu-item (click)="newChildren(item)" data-toggle="modal"
											data-target="#modalImportContact">
											<i class="fab fa-whatsapp"></i> Importar contatos
										</button>
										<!-- <button mat-menu-item>
											<a target="_BLANK" href="https://wa.me/55{{item?.phone}}">
												<i class="fab fa-whatsapp"></i>
												Abrir no Whatsapp
											</a>
										</button> -->
										<button mat-menu-item (click)="updateOpenForm(item)" data-toggle="modal"
											data-target="#modalStickyAdd">
											<i class="fas fa-edit"></i> Alterar
										</button>
										<button mat-menu-item (click)="inativar(item)">
											<i class="fas fa-eye-slash"></i> Arquivar
										</button>
										<button mat-menu-item (click)="newChildren(item)" data-toggle="modal"
											data-target="#modalStickyAdd">
											<i class="fa fa-chalkboard-teacher"></i>
											Tornar Lead
										</button>
									</mat-menu>
								</div>
							</ng-template>
						</div>
					</div>
				</perfect-scrollbar>

				<div class="info center-center">
					<div class="quantitative">
						{{ itemLead.value.referidos.length }} referidos
						<br />
						N à contactar
					</div>
					<div class="action">
						<div class="actionButton" (click)="newChildren(itemLead.value)" data-toggle="modal"
							data-target="#modalStickyAdd">
							<i class="fa fa-plus"></i>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footerItens" (click)="setEvents()" data-toggle="modal" data-target="#modalCalendar" #openCalendar
			matTooltip="Agenda">
			<i class="far fa-calendar-alt"></i>
		</div>
		<div class="footerItens" (click)="newLead()" data-toggle="modal" data-target="#modalScriptAdd"
			matTooltip="Estratégia">
			<i class="fa fa-receipt"></i>
		</div>
		<div class="footerItens" (click)="newLead()" data-toggle="modal" data-target="#modalStickyAdd"
			matTooltip="Novo lead">
			<i class="fa fa-plus"></i>
		</div>
	</footer>
</div>

<!-- Modal cadastre indicados -->
<div class="modal fade" id="modalStickyAdd" tabindex="-1" aria-labelledby="modalNewSticky" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalNewSticky">
					<ng-container *ngIf="parent.id; else indicatedBy">
						<p>
							Cadastre abaixo os indicados do(a) {{ parent.name }}
						</p>
					</ng-container>
					<ng-template #indicatedBy>
						<span *ngIf="!form.value.id">Novo referido </span>
						<span *ngIf="form.value.id">Alterando referido </span>
					</ng-template>
				</h3>
			</div>
			<div class="modal-body" style="overflow: auto; max-height: 75vh;">

				<div class="content">
					<form [formGroup]="form" novalidate>
						<div class="input">
							<div class="inputIcon">
								<i class="fa fa-user"></i>
							</div>
							<div class="inputText">
								<input type="text" class="w-100" formControlName="name" placeholder="Nome" />
							</div>
						</div>
						<!-- <div class="input">
							<div class="inputIcon">
								<i class="fa fa-mobile-alt"></i>
							</div>
							<div class="inputText">
								<input type="text" class="w-100" formControlName="phone" placeholder="Telefone"
									mask="(00)00000-0000" />
							</div>
						</div> -->
						<textarea placeholder="Observação" class="textarea" formControlName="observation"
							style="height: 265px;">
						</textarea>
						<div class="input">
							<div class="inputIcon">
								<i class="fa fa-info"></i>
							</div>
							<div class="inputText">
								<select formControlName="status" class="w-100">
									<option value="" selected>
										Selecione uma opção caso tenha entrado
										em contato com o referente
									</option>
									<option *ngFor="let item of status" [value]="item.id">
										{{ item?.status }}
									</option>
								</select>
							</div>
						</div>

						<!-- fk phone -->

						<button class="btn-secondary mb-15" data-target="#modalPhoneNumber" data-toggle="modal"
							style="border: none!important;">
							<i class="fa fa-plus " style="margin-right: 5px;"> </i>Adicionar número de telefone
						</button>

						<div class="card-input mb-15" *ngFor="let telefone of form.value.telefones; let j = index"
							[attr.data-index]="j">
							<div class="row">
								<div class="phone-icon">
									<ng-container *ngIf="telefone?.bo_whatsapp == 1; else IconTelefone">
										<i class="fab fa-whatsapp" style="font-size: 2.28em;"></i>
									</ng-container>
									<ng-template #IconTelefone>
										<i class="fa fa-mobile"></i>
									</ng-template>

								</div>
								<div class="phone-number">
									<small>+{{telefone?.country_code}}</small>{{telefone?.phone | helpers: "phoneByCountry" :telefone.country_code}}
								</div>
								<div class="phone-remove ">
									<i class="fa fa-trash cursor-pointer" (click)="deleteTelefone(j)"></i>
								</div>
							</div>
						</div>

						<!-- end fk phone -->
					</form>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" #closemodalStickyAdd>
					Fechar
				</button>


				<ng-container *ngIf="!form.value.id; else elseTemplateUpdate">
					<button type="button" class="btn btn-primary" (click)="save(form.value)" [disabled]="!form.valid">
						Salvar
					</button>
				</ng-container>
				<ng-template #elseTemplateUpdate>
					<button type="button" class="btn btn-primary" (click)="update(form.value)" [disabled]="!form.valid">
						Alterar
					</button>
				</ng-template>
			</div>

		</div>
	</div>
</div>


<!-- Modal telefone -->
<div class="modal fade" id="modalPhoneNumber" tabindex="-1" aria-labelledby="modalNewPhoneNumber" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalNewPhoneNumber">
					<p>Adicionando telefone</p>
				</h3>

			</div>
			<div class="modal-body">
				<div class="content">

					<form novalidate>
						<!-- {{countryCodeSelected}} -->
						<div class='form-group is-empty col-md-12'>


							<div class="input">
								<div class="inputIcon">
									<i class="fa fa-globe-americas"></i>
								</div>
								<div class="inputText">
									<ng-select
										(change)="maskPhoneToInsert($event)"
										[items]="countryCodes"
										bindLabel="nome"
										autofocus
										bindValue="countryCode"
										[(ngModel)]="countryCodeSelected"
										[ngModelOptions]="{standalone: true}">
									</ng-select>

								</div>
							</div>
							<div class="input">
								<div class="inputIcon">
									<i class="fa fa-mobile-alt"></i>
								</div>
								<div class="inputText">
									<input [(ngModel)]="phone" mask="{{maskToInsert}}"
										[ngModelOptions]="{standalone: true}">

								</div>
							</div>
							<app-input-container errorMessage='Campo obrigatório' label='Whatsapp'>
								<div class="onoffswitch">
									<input type="checkbox" [(ngModel)]="bo_whatsapp" class="onoffswitch-checkbox"
										id="myonoffswitch" [ngModelOptions]="{standalone: true}">
									<label class="onoffswitch-label" for="myonoffswitch"></label>
								</div>
							</app-input-container>

							<!-- <app-input-container errorMessage='Campo obrigatório' label='bo_whatsapp'>
								<input class='form-control' [(ngModel)]="bo_whatsapp"
									 [ngModelOptions]="{standalone: true}"
									placeholder=''>
							</app-input-container> -->
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModalPhone>
					Fechar
				</button>
				<button type="button" class="btn btn-primary" (click)="addFKPhone()">
					Salvar
				</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal roteiro -->
<div class="modal fade" id="modalScriptAdd" tabindex="-1" aria-labelledby="modalNewScript" aria-hidden="true">
	<div class="modal-dialog modal-exlg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalNewScript">
					<p>Roteiro</p>
				</h3>
			</div>
			<div class="modal-body">
				<div class="content">
					<form [formGroup]="formScript" novalidate>
						<textarea placeholder="Estratégia" class="textarea" formControlName="strategy">
						</textarea>

						<div class="input">
							<div class="inputIcon">
								<i class="fa fa-link"></i>
							</div>
							<div class="inputText">
								<input type="text" class="w-100" formControlName="url_sale"
									placeholder="Seu link para venda" />
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" #closemodalScriptAdd>
					Fechar
				</button>
				<button type="button" class="btn btn-primary" (click)="saveStrategy(formScript.value)"
					[disabled]="!formScript.valid">
					Salvar
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal importando contatos -->
<div class="modal fade" id="modalImportContact" tabindex="-1" aria-labelledby="modalNewImportContact"
	aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalNewImportContact">
					<p>Importanto contatos indicados do(a) {{ parent.name }} </p>
				</h3>
			</div>
			<div class="modal-body">
				<div class="content">
					<span *ngIf="customersImported.length == 0">
						<h2>Anexe o arquivo baixado na conversa com o(a) {{ parent.name }} </h2>
						<div class="form-group margint-25">
							<input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput />
							<div class="uploadArquivo"
								[style.background-image]=" 'url(' + img + ' )' | safeHtml: 'style' "></div>
							<button class="btn btn-upload btn-secondary" (click)="fileInput.click()"> Anexar arquivo
							</button>
						</div>
					</span>
					<ng-container *ngIf="customersImported.length != 0">
						<div class="card"
							style="background: transparent; color: var(--backgroundColor); margin-bottom: 15px;">
							<h3>Importado {{customersImported?.res.length}}</h3>
							<div *ngFor="let item of customersImported?.res" style="margin-top: 15px;">
								{{ item?.name }} <br>
								{{ item?.phone}}
							</div>

						</div>
						<div class="card" style="background: transparent; color: var(--backgroundColor)">
							<h3>Indicado por outro lead {{customersImported?.repetidos.length}}</h3>
							<p *ngFor="let item of customersImported?.repetidos">
								{{item}}
							</p>

						</div>

					</ng-container>

				</div>
			</div>
			<div class="modal-footer" *ngIf="customersImported.length == 0">
				<button type="button" class="btn btn-primary" (click)="importContact(formScript.value)">
					Importar
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal calling -->

<div class="modal fade" id="modalCall" tabindex="-1" aria-labelledby="modalStapcall" aria-hidden="true">
	<div class="modal-dialog modal-exlg">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modalStapcall">
					<!-- <pre>{{ person | json }}</pre> -->

					<div class="row flex-wrap">
						Ligando para {{ person.name }} -
						<div class="contacto-phone" *ngFor="let itemPhone of person.phones; let last = last">
							<div class="cursor-pointer">
								<a target="_BLANK"
									href="https://api.whatsapp.com/send/?phone={{itemPhone.country_code}}{{itemPhone.phone}}&text={{strategy?.url_sale}}"
									title="Enviar link">
									<i [ngClass]="itemPhone.bo_whatsapp ? 'fab fa-whatsapp' : 'fa fa-mobile-alt'"></i>
									<small>+{{itemPhone?.country_code}}</small>{{ itemPhone.phone | helpers: "phoneByCountry" :itemPhone.country_code }}
									<span *ngIf="!last" class="mr-10">,</span>
								</a>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="person.status != 'a'">
						<div class="filterstatus"> <strong>Status atual:</strong> {{person.status | helpers:'statusString' }}
						</div>
					</div>

					<div class="row">
						<br>
						<div class="flex-direction-column">
							<div class="row" *ngIf="strategy?.url_sale">
								<a target="_BLANK" href="{{strategy?.url_sale}}" title="Fazer a venda.">
									<div class="card mr-5 cursor-pointer">
										<i class="fab fa-wpforms"></i>
									</div>
								</a>
							</div>

							<br>
							<h4>Deseja alterar o status?</h4>
							<div class="row flex-direction-row" >
								<div class="card mr-5 cursor-pointer" (click)="changeStatus(person, 'pc')"
									title="Problemas com cartão de crédito" *ngIf="person.status != 'pc'">
									<i class="fa fa-credit-card icon-waiting">
									</i>
								</div>
								<div class="card mr-5 cursor-pointer" (click)="changeStatus(person, 'ld')"
									title="Ligar depois"  *ngIf="person.status != 'ld'">
									<i class="fa fa-headset icon-waiting">
									</i>
								</div>
								<div class="card mr-5 cursor-pointer" (click)="changeStatus(person, 'n')"
									title="Não deu negócio 😭"  *ngIf="person.status != 'n'">
									<i class="fa fa-thumbs-down icon-waiting">
									</i>
								</div>
								<div class="card mr-5 cursor-pointer" (click)="changeStatus(person, 'c')"
									title="Vendido 😃"  *ngIf="person.status != 'c'">
									<i class="fa fa-thumbs-up icon-waiting">
									</i>
								</div>
							</div>
						</div>

					</div>
				</h2>
			</div>
			<div class="modal-body">
				<!-- <p>Observação: {{ person.observation }}</p>
				<br /> -->

				<div class="content rowCall">
					<div class="person">
						<form [formGroup]="form" novalidate>
							<textarea (change)="update(form.value,false,true)" placeholder="Observação" class="textarea"
								formControlName="observation" style="width: 95%; height: 300px;">
							</textarea>
						</form>
						<b>Árvores de indicações</b>
						<div class="tree margint-25" *ngFor="let itemParent of parents; let i = index">
							<div [style.marginLeft.px]="20 * i">
								<div class="parentName">
									<i class="fa fa-folder-open"></i>

									{{ itemParent.name }}
									<span *ngIf="itemParent.status != 'a'">
										<i *ngIf="itemParent.status == 'pc'"
											class="fa fa-credit-card icon-finished icon-finished-no">
										</i>
										<i *ngIf="itemParent.status == 'ld'" class="fa fa-headset icon-finished">
										</i>
										<i *ngIf="itemParent.status == 'n'"
											class="fa fa-thumbs-down icon-finished icon-finished-no">
										</i>
										<i *ngIf="itemParent.status == 'c'"
											class="fa fa-thumbs-up icon-finished icon-finished-yes">
										</i>
									</span>
								</div>
								<div class="row">

									<div class="parentPhone"
										*ngFor="let itemPhone of itemParent.phones; let last = last">
										<small>+{{itemPhone?.country_code}}</small>{{ itemPhone.phone | helpers: "phoneByCountry" :itemPhone.country_code }}
										<span *ngIf="!last" class="mr-10">,</span>
									</div>
								</div>
								<div class="parentDesc">
									{{ itemParent.observation }}
								</div>
							</div>
						</div>
					</div>
					<div class="strategy">
						<perfect-scrollbar>
							<h1>Strategy</h1>
							<span *ngFor="let item of strategy?.staps">
								<!-- <span *ngIf="item.length"> -->
								{{ item }}
								<br />
								<!-- </span> -->
							</span>
						</perfect-scrollbar>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal doação -->
<div class="modal fade" id="modalDonate" tabindex="-1" aria-labelledby="modalNewDonate" aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-body">
				<div class="content">
					<p class="mb-15">
						O Wiseller é uma ferramenta sem fins lucrativos. Contudo, temos um grande gasto com servidores,
						pois
						não é nada fácil manter um programa com o porte do Wiseller no ar. <br>
					</p>
					<p class="mb-15">
						Colaborando conosco, você vai garantir nossa permanência no ar. <br>
					</p>
					<p class="mb-15">
						Faça sua parte. Ajude-nos a manter o servidor sempre on-line.
					</p>
					<div class="row center-center mb-25">
						<div class="pix mr-25">
							<div class="row center-center">
								<img style="text-align: center;" src="/assets/img/system/pix.png" width="128px" alt="">
							</div>
							<button class="w-100">
								PIX
							</button>
						</div>
						<!-- <div class="paypal">
							<div class="row center-center">
								<img style="text-align: center;" src="/assets/img/system/donate.png" alt="">
							</div>
							<button class="w-100">
								<a href="https://www.paypal.com/donate?hosted_button_id=JPB4P9HQXT3KS" target="_BLANK"
									style="color:#fff !important">
									Acessar link Paypal
								</a>
							</button>
						</div> -->
					</div>
					<div class="row center-center">
						<h2>Ou</h2>
					</div>
					<div class="row center-center">
						<br>
						<div class="card light" style="margin-left: 10px;">
							<h3>Itau</h3> <br><br>
							Agência: 0322<br>
							Conta: 58119-0 <br>
							CPF: 040.712.881-67
						</div>
						<div class="card light" style="margin-left: 10px;">
							<h3>Banco inter</h3> <br><br>
							Agência: 0001<br>
							Conta: 1961169-2 <br>
							CPF: 040.712.881-67
						</div>
						<div class="card light" style="margin-left: 10px;">
							<h3>NuBank</h3><br><br>
							Agência: 0001<br>
							Conta: 9506125-2 <br>
							CPF: 040.712.881-67
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal bug -->
<div class="modal fade" id="modalBug" tabindex="-1" aria-labelledby="modalNewBug" aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-header">
			<h3 class="modal-title" id="modalNewSticky">
				<p>
					<i class="fa fa-bug"></i> Enviar um relatório de erro (Bug)
				</p>
			</h3>
		</div>
		<div class="modal-body">
			<div class="content">
				<p>
					Reporte aqui um erro que tenha encontrado, assim que possível ele será corrigido. <br>
					Para que possamos identificar o erro, digite em detalhes tudo que aconteceu<br><br>
				</p>
				<p class="mb-15">
					<a target="_BLANK" href="https://trello.com/b/GQpoOLdf/sell-more"> <i class="fab fa-trello"></i> Veja no que estamos trabalhando</a>
				</p>

				<form [formGroup]="formBug" novalidate>
					<div class="inputText">
						<input type="text" class="w-100" formControlName="name" placeholder="Título" />
					</div>
					<textarea placeholder="Descreva seu problema em detalhes" class="textarea" formControlName="desc">
					</textarea>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">
				Fechar
			</button>
			<button type="button" class="btn btn-primary" (click)="bug(formBug.value)" [disabled]="!formBug.valid">
				Salvar
			</button>
		</div>
	</div>
</div>

<!-- Modal Calendar -->
<div class="modal fade" id="modalCalendar" tabindex="-1" aria-labelledby="modalCalendar" aria-hidden="true">
	<div class="modal-dialog modal-exlg">
		<div class="modal-header">
			<h3 class="modal-title">
				<p>
					<i class="far fa-calendar-alt"></i> Calendario
				</p>
			</h3>
		</div>
		<div class="modal-body">

			<div class="calendarOptions">
				<div class="calendarDate">
					<button class="btn btn-secondary" style="margin:5px; padding:10px" mwlCalendarPreviousView
						[view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
						Anterior
					</button>
					<button class="btn btn-secondary" style="margin:5px; padding:10px" mwlCalendarToday
						[(viewDate)]="viewDate">
						Hoje
					</button>
					<button class="btn btn-secondary" style="margin:5px; padding:10px" mwlCalendarNextView [view]="view"
						[(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
						Próximo
					</button>
				</div>
				<div class="calendarDateChosen">
					<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt-br' }}</h3>
				</div>
				<div class="calendarDateType">
					<div class="row flex-direction-row">
						<button class="btn btn-secondary" style="margin:5px; padding:10px"
							(click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
							Mês
						</button>
						<button class="btn btn-secondary" style="margin:5px; padding:10px"
							(click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
							Semana
						</button>
						<button class="btn btn-secondary" style="margin:5px; padding:10px"
							(click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
							Dia
						</button>
					</div>
				</div>
			</div>
			<br />
			<div [ngSwitch]="view">
				<mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
					[refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
					(eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)">
				</mwl-calendar-month-view>
				<mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
					[refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)">
				</mwl-calendar-week-view>
				<mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
					[refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
					(eventTimesChanged)="eventTimesChanged($event)">
				</mwl-calendar-day-view>
			</div>

			<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

			<br /><br /><br />

			<!-- <div class="" *ngIf="formCalendar.value.id_customers > 0"> -->
			<div class="">
				<h3> Novo agendamento: clique no dia e informe o horário </h3>
				<h2> {{formCalendar.value.title}}</h2>

				<div class="card-light">
					<form [formGroup]="formCalendar" novalidate>
						<div class="row">
							<div class="input" style="margin-right: 25px;">
								<div class="inputIcon">
									<i class="fa fa-calendar-alt"></i>
								</div>
								<select formControlName="id_customers" class="w-100">
									<option value="" selected>
										Referente
									</option>
									<option *ngFor="let item of customersLd" [value]="item.id">
										<div class="row flex-wrap">
											{{ item?.name }} -
											<div class="contacto-phone ml-5"
												*ngFor="let itemPhone of item.phones; let last = last">
												<div class="cursor-pointer">
													<i
														[ngClass]="itemPhone.bo_whatsapp ? 'fab fa-whatsapp' : 'fa fa-mobile-alt'"></i>
													<small>+{{itemPhone.country_code}}</small>{{ itemPhone.phone | helpers: "phoneByCountry" :itemPhone.country_code }}
													<span *ngIf="!last" class="mr-10">,</span>
												</div>
											</div>
										</div>
									</option>
								</select>
							</div>
							<div class="input" style="margin-right: 25px;">
								<div class="inputIcon">
									<i class="fa fa-calendar-alt"></i>
								</div>
								<div class="inputText">
									<input type="text" mask="dX/M0/0000" [showMaskTyped]="true" class="w-100"
										formControlName="date" placeholder="Dia" />
								</div>
							</div>
							<div class="input">
								<div class="inputIcon">
									<i class="fa fa-hourglass-start"></i>
								</div>
								<div class="inputText">
									<input type="text" mask="Hh:m0:s0" [showMaskTyped]="true" class="w-100"
										formControlName="hour" placeholder="Hora" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" (click)="addEvent()"
								[disabled]="!formCalendar.valid">
								Salvar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" style="position: fixed; top: 0;width: 100%; height: 100%;" *ngIf="showCongrats">
	<ng-lottie [options]="optionsSold" class="center-center" (complete)="showCongrats=false" style="width: 100%;">
	</ng-lottie>
</div>
