<table cellspacing="0" cellpadding="0" align="center"
    style="border-collapse:collapse;border-spacing:0px;;width:600px">
    <tbody>
        <tr style="border-collapse:collapse">
            <td align="left" style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                    <tbody>
                        <tr style="border-collapse:collapse">
                            <td align="center" valign="top" style="padding:0;Margin:0;width:600px">
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation"
                                    style="border-collapse:collapse;border-spacing:0px">
                                    <tbody>
                                        <tr class="m_-7483743698143892825es-mobile-hidden"
                                            style="border-collapse:collapse">
                                            <td align="left" style="padding:0;Margin:0">
                                                <p
                                                    style="Margin:0;font-size:8px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:12px;color:#f7f7f7">
                                                    Disponível amanhã as 19hrs</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-collapse:collapse">
            <td align="left" style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                    <tbody>
                        <tr style="border-collapse:collapse">
                            <td align="center" valign="top" style="padding:0;Margin:0;width:600px">
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation"
                                    style="border-collapse:collapse;border-spacing:0px">
                                    <tbody>
                                        <tr style="border-collapse:collapse">
                                            <td align="center" style="padding:0;Margin:0"><a
                                                    href="https://news.mailclick.me/tl.php?p=3xr8/3egn/rs/42s/99j/rs//https%3A%2F%2Fwiseller.com.br"
                                                    style="font-family:arial,'helvetica neue',helvetica,sans-serif;font-size:14px;text-decoration:underline;color:#333333"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://news.mailclick.me/tl.php?p%3D3xr8/3egn/rs/42s/99j/rs//https%253A%252F%252Fwiseller.com.br">
                                                    <img class="m_-7483743698143892825adapt-img CToWUd"
                                                        src="https://i.imgur.com/N1UYT90.png"
                                                        alt=""
                                                        style="display:block;border:0;outline:none;text-decoration:none"
                                                        width="600"></a></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-collapse:collapse">
            <td align="left" style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px; margin: 50px 0;">
                    <tbody>
                        <tr style="border-collapse:collapse">
                            <td align="center" valign="top" style="padding:0;Margin:0;width:600px">
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation"
                                    style="border-collapse:collapse;border-spacing:0px">
                                    <tbody>
                                        <tr style="border-collapse:collapse">
                                            <td align="center" style="padding:0;Margin:0"><a
                                                    href="https://news.mailclick.me/tl.php?p=3xr8/3egn/rs/42s/99j/rs//https%3A%2F%2Fwiseller.com.br"
                                                    style="font-family:arial,'helvetica neue',helvetica,sans-serif;font-size:14px;text-decoration:underline;color:#333333"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://news.mailclick.me/tl.php?p%3D3xr8/3egn/rs/42s/99j/rs//https%253A%252F%252Fwiseller.com.br"><img
                                                        class="m_-7483743698143892825adapt-img CToWUd"
                                                        src="https://i.imgur.com/fe80un6.png"
                                                        alt=""
                                                        style="display:block;border:0;outline:none;text-decoration:none"
                                                        width="600"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        
    </tbody>
</table>