<div class="login-box ">
	<div class="login">
		<ng-container *ngIf="!isRequestRecoverPassword; else elseTemplateNewAccount">
			<div class="cardTitle">
				<div class="title">Wi<span style="text-decoration: underline;">se</span>ller</div>
				<div class="subTitle">Alterando a senha</div>
			</div>
		</ng-container>
		<ng-template #elseTemplateNewAccount>
			<div class="cardTitle">
				<div class="title">
					<p>wi<span style="text-decoration: underline;">se</span>ller</p>
				</div>
				<div class="subTitle">ESQUECEU SUA SENHA?</div>
				<span>Informe seu e-mail abaixo e enviaremos um link para redefinir sua senha.
				</span>
			</div>
		</ng-template>

		<br />

		<form [formGroup]="alterarSenhaForm" *ngIf="!isRequestRecoverPassword">
			<app-input-container>
				<input type="password" formControlName="newPassword" class="form-control" placeholder="Nova senha" />
			</app-input-container>
			<app-input-container>
				<input type="password" formControlName="confirmPassword" class="form-control"
					placeholder="Confirme a nova senha" />
			</app-input-container>

			<button (click)="alterarSenha()" class="btn btn-primary btn-lg btn-block btnentrar"
				[disabled]="alterarSenhaForm.invalid">
				Alterar senha
			</button>

		</form>

		<form [formGroup]="solictarAlteracaoSenhaForm" *ngIf="isRequestRecoverPassword">
			<div *ngIf="!boMessageShow">
				<app-input-container>
					<input type="text" formControlName="email" class="form-control" placeholder="E-mail" email />
				</app-input-container>

				<button (click)="solicitarNovaSenha()" class="btn btn-primary btn-lg btn-block btnentrar"
					[disabled]="solictarAlteracaoSenhaForm.invalid" *ngIf="showButton">
					Redefinir senha
				</button>
			</div>
			<div class="message" *ngIf="boMessageShow">
				<h1>Você possui uma mensagem!</h1>
				<div class="_3yl0T"><span>Verifique sua caixa de mensagens, nós enviamos um link de modificação de senha
					</span><br><br>Se dentro de alguns minutos
					ainda não tiver recebido a mensagem, por favor, verifique sua caixa de Spam.</div>
			</div>

			<hr />
			<h3>Já tem uma conta?</h3>
			<button (click)="changeToLogin()" class="btn btn-secondary btn-block btnNewAccount">
				Faça login
			</button>
		</form>
	</div>
</div>
<div class="bg-img"></div>
