/* .navegatorWithMenuLeft div.customersHd{

}
.navegatorWithMenuLeft div.customersFullHd{

} */
@media (width: 640px) {
}
@media (width: 800px) {
}
@media (width: 960px) {
}

@media only screen and (min-width: 961px) and (max-width: 1024px) {
	.customers {
		width: 46.5% !important;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1152px) {
	.customers {
		width: 47% !important;
	}
}
@media only screen and (min-width: 1153px) and (max-width: 1280px) {
	.customers {
		width: 47.3% !important;
	}
}
/* @media only screen and (min-width: 1281px) and (max-width: 1360px) {
	.customers {
		width: 378px !important;
	}
	.customersFilter{
		width: 378px!important;
	}
}
@media only screen and (min-width: 1361px) and (max-width: 1366px) {
	.customers {
		width: 392px !important;
	}
	.customersFilter{
		width: 392px!important;
	}
} */
@media only screen and (min-width: 1281px) and (max-width: 1368px) {

	.customers,.customersFilter {
		width: 30.8% !important;
	}

	/* .customers {
		width: 392px !important;
	}
	.customersFilter{
		width: 392px!important;
	} */

	.children .item .contacto .contacto-name {
		font-size: 16px!important;
	}
	.footerItens{
		width: 60px!important;
		height: 60px!important;
		border-radius: 30px!important;
		font-size: 2em!important;
	}
	.sellMore footer {
		width: 245px!important;
	}
}


@media only screen and (min-width: 1367px) and (max-width: 1600px) {
	.customers,.customersFilter {
		width: 30.8% !important;
	}
}
@media only screen and (min-width: 1601px) and (max-width: 1920px) {
	.customers {
		width: 23.3% !important;
	}
}
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
}
@media only screen and (min-width: 2561px) and (max-width: 3840px) {
}
